/* СТРАНИЦА */

    body {
        background-color: #000000;box-sizing: border-box;
        min-width: 480px;
        max-width: 1920px;
    }

/* СКРОЛЛ */

    ::-webkit-scrollbar { 
        display: none; 
    }

/* ЗАГРУЗКА */

    #p_prldr{
        position: fixed;
        left: 0;
        top: 0;
        right:0;
        bottom:0;
        background: rgb(0, 0, 0);
        z-index: 999;}
            
        .anm {
        text-align: center;
            margin-top: 500px;
        }

/* ССЫЛКИ */

    a { 
        text-decoration: none; 
        color: white;
    }

    A:visited {
        color: white;
    }

    A:active {
        color: white;
    }
  
/* ОБВОДКА "ОКОЛО" И "ИВГУ" */

    .fix-stroke {
        paint-order: stroke fill;
        color: #000000;
        font-size: 12em;
        -webkit-text-stroke: 5px rgb(255, 255, 255);
        font-family: montserrat;
        font-weight:900;
    }

/* ОБВОДКА "ЖЕ" */

    .fix-stroke1 {
        paint-order: stroke fill;
        color: #000000;
        font-size: 18em;
        -webkit-text-stroke: 5px rgb(255, 255, 255);
        font-family: montserrat;
        font-weight:900;
    }

/* ТЕКСТ */

    p {margin: 0; padding: 0;}	
	.ft10{font-size:43px;font-family:Montserrat;color:#ffffff;}
	.ft11 {font-size:50px;font-family:Montserrat;color:#ffffff;}
	.ft12 {font-size:298px;font-family:Montserrat;color:#ffffff;}
	.ft13 {font-size:193px;font-family:Montserrat;color:#ffffff;}
	.ft14 {font-size:238px;font-family:Montserrat;color:#ffffff;}
	.ft15 {font-size:193px;font-family:Montserrat;color:#000000;}
    .ft16 {font-size:298px;font-family:Montserrat; color:#000000;
    text-shadow: rgb(255, 255, 255) 5px 5px 0, rgb(255, 255, 255) -5px -5px 0, 
                 rgb(255, 255, 255) -5px 5px 0, rgb(255, 255, 255) 5px -5px 0;}

/* СТРЕЛКИ */

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    i {
        border: solid rgb(255, 255, 255);
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 50px;
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

/* ШРИФТ */

    @font-face {
        font-family: montserrat; 
        src: url(fonts/Montserrat.ttf); 
       }